@model IEnumerable<Common.Entities.Category>

@{
    ViewBag.Title = "Все категории";
}

<h2>Все категории</h2>

<p>
    @Html.ActionLink("Создать категорию", "CreateCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Изменить", "EditCategory", new { id=item.Id })
        </td>
    </tr>
}

</table>
